.diceimg {
    max-width: 10%;
}

.left-nav {
    margin-right: 5%;
}

.last-games {
    background-color: #ba9b7b
}

.navbar {
    background-color: #ba9b7b;
}

.sign-up {
    background-color: #ba9b7b;
}

