<%- include("partials/header.ejs"); %>
<div class="container-fluid">
    <div class="row">
        <div class="p-5 col post-images">
            <img src="sistems/dnd5.png"class="gameLogo dnd">
            <img src="sistems/13thage.png"class="gameLogo age">
            <img src="sistems/fate.png"class="gameLogo fate">
            <img src="sistems/numenera.png"class="gameLogo numenera">
            <img src="sistems/pathfinder.png"class="gameLogo pathfinder">

            <img src="sistems/starwarsffg.png"class="gameLogo starwars">
            <img src="sistems/thestrange.png"class="gameLogo thestrange">
        </div>
        <div class="col what-is">
            <h2>What is Play-by-Post?</h2>
            <p class="what-is-text">Play-By-Post is a different way to experience tabletop RPGs. Rather than dedicating a few hours at a time to sit together around a table, you can play at your own convenience. Log in and respond to other players and the GM whenever you have a few minutes to spare.</p>
            <p class="what-is-text">Gamers' Plane offers you a PbP experience you won’t get anywhere else, focused around a community of gamers, with tools to make the experience as smooth as possible. You can play with old friends, or make new ones around the world!</p>
        </div>

    </div>
</div>

<%- include("partials/footer.ejs"); %>